<div class="home_container">

    
    <app-card
    gameCover="https://bdjogos.com.br/capas/10994-battlefield-2042-capa-1.jpg"
    gamelabel="Digital Edition"
    gametype="PS4, PS5"
    gamePrice="R$ 129,90"
    ></app-card>

    <app-card
    gameCover="https://upload.wikimedia.org/wikipedia/pt/d/d6/Ratchet_%26_Clank_Rift_Apart_capa.png"
    gamelabel="Exclusive"
    gametype="PS5"
    gamePrice="R$ 299,90"
    ></app-card>

    <app-card
    gameCover="https://upload.wikimedia.org/wikipedia/en/thumb/f/f6/MWIII_Cover_Art.png/220px-MWIII_Cover_Art.png"
    gamelabel="Pre-Order"
    gametype="CROSS-PLAY (PS4,PS5)"
    gamePrice="R$ 399,90"
    ></app-card>

    <app-card
    gameCover="https://cdn.awsli.com.br/2500x2500/1095/1095205/produto/167050757/2d1ddc8e02.jpg"
    gamelabel="Exclusive Digital"
    gametype="PS4, PS5"
    gamePrice="R$ 299,90"
    ></app-card>

    <app-card
    gameCover="https://cdn1.epicgames.com/offer/c4763f236d08423eb47b4c3008779c84/EGS_AlanWake2_RemedyEntertainment_S2_1200x1600-c7c8091ddac0f9669c8e5905bca88aaa"
    gamelabel="Pre-Order"
    gametype="PS5"
    gamePrice="R$ 299,90"
    ></app-card>

    <app-card
    gameCover="https://cdn1.epicgames.com/offer/4c461792757541e99c4a16c00834c956/EGS_Returnal_HousemarqueClimaxStudios_S2_1200x1600-617cb4daee4cf45fa937304bceb60a81"
    gamelabel="Digital Exclusive"
    gametype="PS5"
    gamePrice="R$ 99,90"
    ></app-card>

    <app-card
    gameCover="https://cdn.awsli.com.br/600x700/1095/1095205/produto/221310222/marvels-spider-m-dni0rccys8.png"
    gamelabel="Pre-Order | Launch Edition"
    gametype="PS5"
    gamePrice="R$ 399,90"
    ></app-card>

    <app-card
    gameCover="https://static-it.gamestop.it/images/products/303693/3max.jpg"
    gamelabel="SALE | 10% OFF"
    gametype="PS4, PS5"
    gamePrice="R$ 149,90"
    ></app-card>

</div>
